.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata

# data files that are too large
data/*.rds
data/*/*.rds
data/sensitivity/gbm_details/**
data/sensitivity/gbmOut**
data/sensitivity/gbmIn**
data/sensitivity/**.csv

# paper drafts
doc/drafts/**.docx
doc/drafts/**.doc
doc/drafts/**.pdf
scripts/02**
doc/pfmc_scenario_planning/**supplemental**
doc/pfmc_scenario_planning/**attachment**
