.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata

# data files that are too large
data/*.rds
data/*/*.rds
data/sensitivity/gbm_details/**
data/sensitivity/gbmOut**
data/sensitivity/gbmIn**
data/sensitivity/**.csv

# paper drafts
doc/drafts/**.docx
doc/drafts/**.doc
doc/drafts/**.pdf
doc/pfmc_scenario_planning/**supplemental**
doc/pfmc_scenario_planning/**attachment**
doc/drafts/Ch4_Fig1.pptx

# code check
doc/check_reruns.R
doc/drafts/*.png
scripts/*.html